# Not needed for wordpress.org
/.github         export-ignore
/docs            export-ignore
/tests           export-ignore
/build-woo       export-ignore
/phpcs           export-ignore
/wpcs            export-ignore
/node_modules    export-ignore

# Development files
/README.md       export-ignore
/composer.json   export-ignore
/composer.lock   export-ignore
/package.json    export-ignore
/package-lock.json export-ignore
/.gitignore      export-ignore
/.gitattributes  export-ignore
/.travis.yml     export-ignore